.browsehappy {
  margin: 0.2em 0;
  color: #000;
  padding: 0.2em 0;
}
* {
    font-family: 微软雅黑, sans-serif;
}
body {
  padding: 0;
}

.preview {
    max-height: 100%;
    overflow:auto;
}
.container{
    background-image: url('../imgs/bg.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    width:100%;
    overflow:auto;
    min-height:95%;
}
.blur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
md-content {
 background:inherit;!important;
}

.preview img{
  width:auto;
}
.topicBody img{
 max-width: 100%;
}
@media (min-width: 960px){
    .topicDialog{
        min-width:50%;
    }
}

md-card .headImg{
    max-height:200px;
    overflow:hidden
}

.table-bordered{
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}



