<md-card layout='column' ng-controller="CommentListCtrl">
    <md-toolbar class="md-menu-toolbar" flex>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings">
                <md-icon>speaker_notes</md-icon>
            </md-button>
            <h2>
                <span>评论管理</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-content class="page-container" flex>
        <md-list>
            <md-list-item class='md-3-line' ng-repeat="comment in commentList" ng-click=''>
                <md-icon class="md-avatar-icon">speaker_notes</md-icon>
                <div class="md-list-item-text" layout="column">
                    <h3>来自:{{ comment.authorId }}</h3>
                    <h4>内容:{{ comment.Content }}</h4>
                    <p>发布时间:{{ comment.CreatedTime }}</p>
                </div>
                <md-button class="md-secondary md-icon-button">
                    <md-icon>close</md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
    <div flex layout='row'>
        <span flex-gt-lg='80' flex-xs='60'></span>
        <md-button flex><md-icon>keyboard_arrow_left</md-icon></md-button>
        <md-button flex><md-icon>keyboard_arrow_right</md-icon></md-button>
    </div>
    <md-card>
