<md-content class="md-padding" layout-xs="column" layout="row" ng-controller="AdminCtrl">
    <div hide-sm flex-gt-xs="15" layout="column">
        <md-card>
            <md-list>
                <md-list-item class='md-2-line'>
                  <md-icon class='md-avatar-icon'>description</md-icon>
                  <div class="md-list-item-text" layout="column" ng-click="goCategory('topicList')">
                      <h3>文章管理</h3>
                      <p>分类管理</p>
                  </div>
                  <md-divider></md-divider>
                </md-list-item>
                <md-list-item class='md-2-line'>
                  <md-icon class='md-avatar-icon'>list</md-icon>
                  <div class="md-list-item-text" layout="column" ng-click="goCategory('categoryList')">
                      <h3>分类管理</h3>
                      <p>管理分类</p>
                  </div>
                  <md-divider></md-divider>
                </md-list-item>
                <md-list-item class='md-2-line'>
                  <md-icon class='md-avatar-icon'>speaker_notes</md-icon>
                  <div class="md-list-item-text" layout="column" ng-click="goCategory('commentList')">
                      <h3>评论管理</h3>
                      <p>管理评论</p>
                  </div>
                  <md-divider></md-divider>
                </md-list-item>
                <md-list-item class='md-2-line'>
                  <md-icon class='md-avatar-icon'>settings</md-icon>
                  <div class="md-list-item-text" layout="column" ng-click="goCategory('commentList')">
                      <h3>设置</h3>
                      <p>系统设置</p>
                  </div>
                </md-list-item>
            </md-list>
        </md-card>
    </div>
    <div class="adminView"  flex="" ui-view>
    </div>
</md-content>
