<!doctype html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8">
    <title>Scarlet's Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="iconfont/material-icons.css">
    <!-- endbuild -->
</head>
<body ng-app="ScarletBlog" ng-controller="AppCtrl">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<md-toolbar ng-controller="BarCtrl">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon ng-click="toggleLeft()">menu</md-icon>
        </md-button>
        <h2>
            <span>Scarlet's Blog</span>
        </h2>
        <span flex></span>
        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ui-sref="topic">
            <md-icon>home</md-icon>
        </md-button>
        <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                <md-icon >more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button href="https://github.com/scarletmu/MBlog" target="_blank">
                        <md-icon>code</md-icon>
                        查看项目源码
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-click="admin()">
                        <md-icon>build</md-icon>
                        后台管理
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-disable-backdrop
        md-whiteframe="5">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">功能分类</h1>
    </md-toolbar>
    <md-content layout-padding>
        <p>
          施工中
        </p>
    </md-content>
</md-sidenav>

<div class="container layout-padding">
    <div ui-view=""></div>
</div>

<div class="footer md-padding" layout="column" layout-align="center center">
    <div>本Blog由 ScarletMu 编写</div>
    <div>使用 <a href="https://material.angularjs.org/latest/">Angular-Material</a> 构建界面</div>
</div>
<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/showdown/dist/showdown.js"></script>
<script src="bower_components/ng-showdown/dist/ng-showdown.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/service.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/topic.js"></script>
<script src="scripts/controllers/admin.js"></script>
<script src="scripts/controllers/manage.js"></script>
<script src="scripts/controllers/detail.js"></script>
<script src="scripts/controllers/adminList.js"></script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<!-- endbuild -->
</body>
</html>
