<md-content class="md-padding" layout-xs="column" layout="row" ng-controller="TopicCtrl">
    <div hide-xs hide-sm flex-gt-xs="20" layout="column">
        <md-card>
            <md-list>
                <md-subheader class="md-no-sticky" style="background:gainsboro">文章分类</md-subheader>
                <md-list-item class="md-2-line" ng-click="clickAlert()" ng-repeat='category in categoryList'>
                    <!--<img ng-src="{{todos[0].face}}?20" class="md-avatar" alt="{{todos[0].who}}" />-->
                    <div class="md-list-item-text">
                        <h3>{{category.Name}}</h3>
                        <p>{{category.Describe}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="75" layout-gt-md="row" layout="column">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-toolbar class="md-menu-toolbar">
                <div class="md-toolbar-tools">
                    <h2>
                        <span>置顶文章</span>
                    </h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-card ng-repeat="topic in topicList track by $index">
                <div class="headImg"><img ng-src="http://w2.hoopchina.com.cn/static/www/2016-03-27/1459039631369880885.jpg"/></div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{topic.Title}}</span>
                    <span class="md-subhead">2016/3/26 <md-icon>visibility</md-icon> {{topic.ViewNum}} <md-icon>
                        comment
                    </md-icon> {{topic.CommentNum}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>{{topic.Summary}}</md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" ng-click="showTopic(topic._id,$event)">
                        <md-icon>zoom_in</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-toolbar class="md-menu-toolbar">
                <div class="md-toolbar-tools">
                    <h2>
                        <span>最新文章</span>
                    </h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-card ng-repeat="topic in topicList track by $index">
                <div class="headImg"><img ng-src="http://w2.hoopchina.com.cn/static/www/2016-03-27/1459039631369880885.jpg"/></div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{topic.Title}}</span>
                    <span class="md-subhead">2016/3/26 <md-icon>visibility</md-icon> {{topic.ViewNum}} <md-icon>
                        comment
                    </md-icon> {{topic.CommentNum}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>{{topic.Summary}}</md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" ng-click="showTopic($event)">
                        <md-icon>zoom_in</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</md-content>

<div hide-gt-lg style="position:fixed;right:15px;bottom:15px;">
  <md-fab-speed-dial md-direction="left" class="md-fling">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-warn">
        <md-icon>view_list</md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
        <md-icon md-svg-src="img/icons/twitter.svg" aria-label="Twitter"></md-icon>
      </md-button>
      <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
        <md-icon md-svg-src="img/icons/facebook.svg" aria-label="Facebook"></md-icon>
      </md-button>
      <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
        <md-icon md-svg-src="img/icons/hangout.svg" aria-label="Google Hangout"></md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</div>
