<md-content class="md-padding fadeIn" layout-xs="column" layout="row" ng-controller="TopicCtrl" ng-class="{'blur':isOpenTopic}">
    <div hide-xs hide-sm flex-gt-xs="20" layout="column">
        <md-card>
            <md-list>
                <md-subheader class="md-no-sticky" style="background:gainsboro">文章分类</md-subheader>
                <md-list-item class="md-2-line" ng-click="selectCategory(category._id)" ng-repeat='category in categoryList'>
                    <md-icon class="md-avatar-icon">{{category.Icon}}</md-icon>
                    <div class="md-list-item-text">
                        <h3>{{category.Name}}</h3>
                        <p>{{category.Describe}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card>
    </div>

    <div flex-xs flex-gt-xs="75" layout-gt-md="row" layout="column">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card class="repeated-item" ng-repeat="topic in topicList track by $index" >
                <div class="headImg"><img ng-src="{{topic.Thumbnail}}"/></div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{topic.Title}}</span>
                    <span class="md-subhead">2016/3/26 <md-icon>visibility</md-icon> {{topic.ViewNum}} <md-icon>
                        comment
                    </md-icon> {{topic.CommentNum}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>{{topic.Summary}}</md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" ng-click="showTopic(topic._id,$event)">
                        <md-icon>zoom_in</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column" ng-hide="isSelect">
            <md-toolbar class="md-menu-toolbar listHead" style="background:none;float:right;">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Settings" disabled>
                        <md-icon>file_upload</md-icon>
                    </md-button>
                    <h2>
                        <span style="color:gray"><strong>置顶文章</strong></span>
                    </h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-card class="repeated-item"  ng-repeat="top in topList track by $index">
                <div class="headImg"><img ng-src="{{top.Thumbnail}}"/></div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{top.Title}}</span>
                    <span class="md-subhead">2016/3/26 <md-icon>visibility</md-icon> {{top.ViewNum}} <md-icon>
                        comment
                    </md-icon> {{top.CommentNum}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>{{top.Summary}}</md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" ng-click="showTopic(top._id,$event)">
                        <md-icon>zoom_in</md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
    <div hide-gt-lg style="position:fixed;right:15px;bottom:15px;z-index:999" layout="row" ng-cloak>
        <md-fab-speed-dial md-direction="left" class="md-fling" ng-click="delay()">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                    <md-icon>view_list</md-icon>
                    <md-tooltip md-direction="top" md-visible='isOpen'>
                        文章分类
                    </md-tooltip>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <div ng-repeat="category in categoryList">
                    <md-button class="md-fab md-raised md-mini" ng-click="selectCategory(category._id)">
                        <md-icon>{{category.Icon}}</md-icon>
                        <md-tooltip md-direction="top">
                            {{category.Name}}
                        </md-tooltip>
                    </md-button>
                </div>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
</md-content>



