<md-dialog style="width:100%;height:100%;">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>文章粗情</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column">
            <div class="md-dialog-content" flex>
                <h2>{{topicData.Title}}</h2>
                <span class="md-subhead">2016/3/26 <md-icon>visibility</md-icon> {{topicData.ViewNum}} <md-icon>comment</md-icon> {{topicData.CommentNum}}</span>
                <p ng-bind-html="topicData.html"></p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button target="_blank" md-autofocus ng-click='goDetail()'>
                <md-icon>all_out</md-icon>查看完整
            </md-button>
            <span flex></span>
            <md-button ng-click="hide()">
                <md-icon></md-icon>
            </md-button>
            <md-button ng-click="hide()" style="margin-right:20px;">
                那啥
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
